@media screen and (min-width: 1921px) {
    #main-header {
        background-size: 100%;
        background-position: bottom center;
    }

    #question {
        background-size: 100%;
        background-position: bottom center;
        height: 880px;
    }
}

/*1226-1269*/
@media screen and (max-width: 1269px) {
    #gallery-photo .slick-track .slick-slide, .slick-cloned {
        width: 420px;
    }
}

/*1200-1225*/
@media screen and (max-width: 1225px) {
    #question-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #title-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #info-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #present-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #masters-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #gallery {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact-container {
        padding-left: 20px;
        padding-right: 20px;
    }


    #number-container .number-text {
        font-size: 14px;
        width: 297px;
    }

    #footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #number-container {
        width: 420px;
    }

    #maps-information #ymaps {
        width: 700px;
        height: 400px;
    }

}

/*1024-1199*/
@media screen and (max-width: 1199px) {
    #header-container {
        padding: 10px 20px;
    }



    #masters .title-info {
        text-align: center;
        padding-bottom: 35px;
    }

    #masters .text-info-masters {
        margin: 0 auto;
        text-align: center;
    }

    #the-choice-masters .slick-dots li #slick-slide-control02:before {
        content: '3';
        font-size: 18px;
        font-family: "Nunito-Regular", sans-serif;
        color: #721163;
        line-height: 1.2;
    }

    #the-choice-masters .slick-prev {
        left: calc(50% - 50px);
        top: 348px;
        z-index: 99;
    }

    #the-choice-masters .slick-next {
        right: calc(50% - 50px);
        top: 348px;
        z-index: 99;
    }
    #the-choice-masters .slick-initialized, #the-choice-masters .slick-slide {
        display: flex;
        justify-content: center;
    }
    #header-container .number {
        margin-left: 332px;
    }

    #contact-container #location-work {
        display: flex;
        justify-content: center;
    }

    #maps #title-maps {
        text-align: center;
    }

    #title-container {
        padding: 0 20px;
    }

    #information {
        justify-content: space-evenly;
    }

    #maps .work .title-location {
        margin-top: 52px;
    }

    #information .info-spa, .info-spa:nth-child(2), .info-spa:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
    }

    #maps #location-work .work .last {
        margin-top: 7px;
    }

    #maps #location-work .work {
        margin-bottom: 100px;
    }

    #maps-information {
        position: static;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    #info-container .title-info {
        text-align: center;
    }

    #info {
        padding-bottom: 60px;
    }

    #present-container {
        padding: 0 20px;
    }

    #masters-container {
        padding: 0 20px;
    }


    #gallery {
        padding: 0 20px;
    }

    #question-container {
        padding: 0 20px;
    }

    #question-container #number-container {
        padding: 30px 8px;
        width: 389px;
    }

    #links {
        margin-right: 137px;
    }

    #rituals-spa-description {
        justify-content: center;
        max-width: 700px;
        display: flex;
        margin: 0 auto;
    }

    #number-container {
        padding: 30px 24px;
        width: 419px;
    }

    #rituals-spa .rituals-spa-text {
        margin: 0 auto;
        padding-top: 31px;
        padding-bottom: 10px;
        text-align: center;
    }

    #rituals-spa .spa {
        margin: 10px
    }

    #contact-container {
        padding: 0 20px;
    }

    #footer #footer-container {
        padding: 27px 20px;
    }

    #footer .text-work {
        margin-left: 80px;
    }

    #footer .number {
        margin-left: 80px;
    }

    #footer .logo {
        margin-left: 250px;
    }
    #footer #colum {
        margin-left: 0;
    }
}

/*1024-1162*/
@media screen and (max-width: 1162px) {
    .accordion {
        width: 598px;
    }

    #question-container #number-container {
        padding: 26px 0;
        width: 368px;
    }


    #footer #colum {
        margin-left: 0;
    }

    #footer .text-work {
        margin-left: 60px;
    }

    #footer .number {
        margin-left: 60px;
    }

    #footer .logo {
        margin-left: 165px;
    }

    #gallery-photo {
        margin-bottom: 100px;
    }

    #links {
        margin-right: 0;
    }

    #header-container .number {
        margin-left: 0;
    }

    #header-container {
        justify-content: space-between;
    }

    #rituals-spa .title-info {
        margin-top: 100px;
    }


    #rituals-spa .rituals-spa-text {
        margin-bottom: 0;
    }

    #footer #colum {
        display: flex;
    }

    #footer #footer-container {
        padding: 20px;
        justify-content: space-between;
    }

    #footer #footer-container #colum .number {
        margin-left: 65px;
    }

}

/*981-1023*/
@media screen and (max-width: 1023px) {

    #present {
        backdrop-filter: blur(3px);
    }



    #present .title-info {
        font-size: 25px;
    }

    #present .present-text {
        font-size: 16px;
        width: 306px;
    }

    #question .title-info {
        padding-top: 101px;
    }

    #number-container {
        margin-top: 7px;
    }

    #question-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #question {
        height: 1267px;
        background-size: auto 100%;
    }

    #maps #title-maps {
        text-align: center;
    }

    #footer #footer-container {
        justify-content: space-between;
    }

    #footer .text-work {
        margin-left: 0;
    }

    #footer .number {
        margin-left: 0;
    }

    #gallery-title {
        text-align: center;
        margin-bottom: 31px;
    }

    #gallery-text {
        margin: 0 auto;
        text-align: center;
    }

    #footer .logo {
        margin-left: 0;
    }

    #footer #colum {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    #footer #colum .number {
        margin-top: 3px;
    }

}


/*814-980*/
@media screen and (max-width: 980px) {
    #information .info-spa-text {
        margin-left: 20px;
        width: 215px;
    }

    #information .info-spa-image {
        width: 90px;
    }

    #information .info-spa-image img {
        max-width: 100%;
        max-height: 100%;
    }
}

/*768-813*/
@media screen and (max-width: 813px) {
    #the-choice-masters .slick-prev {
        left: calc(50% - 83px);
        top: 348px;
        z-index: 99;
    }

    #the-choice-masters .slick-next {
        right: calc(50% - 83px);
        top: 348px;
        z-index: 99;
    }

    #the-choice-masters .slick-dots li #slick-slide-control03:before {
        content: '4';
        font-size: 18px;
        font-family: "Nunito-Regular", sans-serif;
        color: #721163;
        line-height: 1.2;
    }

    #the-choice-masters .slick-dots li #slick-slide-control04:before {
        content: '5';
        font-size: 18px;
        font-family: "Nunito-Regular", sans-serif;
        color: #721163;
        line-height: 1.2;
    }

    #the-choice-masters .slick-dots li #slick-slide-control05:before {
        content: '6';
        font-size: 18px;
        font-family: "Nunito-Regular", sans-serif;
        color: #721163;
        line-height: 1.2;
    }
}

/*671-767*/
@media screen and (max-width: 767px) {
    #main-header {
        height: 700px;
    }

    #title-container #titles-text {
        width: 366px;
        font-size: 17px;
        margin-top: 20px;
    }

    #burger {
        display: block;
    }


    #links ul li a {
        margin: 0;
        padding-top: 44px;
        font-size: 19px;
    }
    #links .block-link ul li:nth-child(3) {
        width: 150px;
    }
    #links {
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(212, 188, 211, 0.9);
        z-index: 99999;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 22px 0;
        display: none;
    }

    #header .block-link ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    #links svg {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #header-container.menu-open #links {
        display: block;
    }


    .accordion .accordion-header {
        font-size: 15px;
    }

    .accordion {
        width: 516px;
    }

    #gallery-text {
        width: 553px;
    }


    #titles {
        width: 392px;
        margin-top: 100px;
        line-height: 4px;

    }

    #title-container #titles h1 {
        font-size: 27px;
    }

    #rituals-spa-description {
        justify-content: center;
    }

    #present .title-info {
        margin: 0;
        font-size: 23px;
        width: 319px;
    }

    #present .present-text {
        font-size: 15px;
        width: 219px;
    }

    #gallery-title {
        margin-top: 100px;
    }


    #maps #location-work .work {
        margin-left: 30px;
    }

    #footer #colum {
        margin: 0;
    }

    #footer #footer-icon .link {
        margin-right: 10px;
    }


}

/*630-670*/
@media screen and (max-width: 670px) {
    #reservation #reservation-send {
        margin: 113px 37px;
    }
}

/*580-628*/
@media screen and (max-width: 628px) {
    #footer #colum {
        display: none;
    }

    #footer #footer-container {
        justify-content: space-between;
    }

    #footer #footer-icon .link {
        margin-right: 25px;
    }

    #maps #location-work .work {
        margin: 0;
    }

    #contact-container #location-work {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #maps #location-work .work .title-location {
        margin-top: 19px;
    }

    #maps #location-work .work {
        display: flex;
        flex-direction: column;
        margin: 40px 0 25px 0;
    }

    #maps .location {
        margin-top: 40px;
    }

    #maps .title-location {
        margin-top: 21px;
    }

}

/*371-579*/
@media screen and (max-width: 579px) {

    #rituals-spa .rituals-spa-text {
        width: 330px;
    }

    .accordion {
        width: 424px;
    }



    #present {
        background-position: inherit;
    }

    #present .title-info {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
    }

    #present .present-text {
        font-size: 18px;
        width: 361px;
        margin: 0 auto;
        padding-top: 23px;
        text-align: center;
        padding-bottom: 30px;
    }

    #present button {
        margin: 0 auto;
        display: block;
    }

    #gallery-text {
        width: 350px;
    }

    #rituals-spa-description {
        justify-content: center;
    }

    #rituals-spa .title-info {
        text-align: center;
    }

    #rituals-spa .rituals-spa-text {
        margin: 0 auto;
        padding-top: 20px;
    }

    #masters .title-info {
        text-align: center;
    }

    #masters .text-info-masters {
        width: 447px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }


    #masters .title-info {
        padding-top: 85px;
    }


}

/*371-479*/
@media screen and (max-width: 479px) {


    #question-container #number-container {
        width: 300px;
    }

    #present .title-info {
        font-size: 19px;
        width: 282px;
    }

    #present .present-text {
        font-size: 17px;
        width: 288px;
    }

    .accordion .ui-accordion-header-icon {
        top: 6px;
        right: -17px;
    }

    .accordion {
        width: 308px;
    }

    #number-container .number-text {
        font-size: 13px;
        width: 253px;
    }
    #the-choice-masters .slick-dots {
        display: none !important;
    }
    #titles {
        width: 292px;
    }

    #number-container {
        margin-left: 0;
        margin-top: 17px;
    }

    #title-container #titles h1 {
        font-size: 21px;
        max-width: 300px;
        line-height: 8px;
        margin: 0;
    }

    #title-container #titles-text {
        width: 280px;
        font-size: 14px;
    }

    #info-container .title-info {
        text-align: center;
        font-size: 24px;
    }

    #rituals-spa .title-info {
        font-size: 25px;
    }

    #rituals-spa .rituals-spa-text {
        font-size: 12px;
        width: 298px;
        text-align: center;
    }

    #the-choice-masters .master img {
        max-width: 100%;
        max-height: 100%;
    }

    #the-choice-masters .slick-prev {
        left: -20px;
        top: calc(50% - 9px);
        z-index: 99;
    }

    #masters .text-info-masters {
        width: 296px;
        font-size: 16px;
        padding-top: 0;
    }

    #the-choice-masters .slick-next {
        right: -20px;
        top: calc(50% - 9px);
        z-index: 99;
    }

    #gallery #gallery-title {
        font-size: 25px;
        text-align: center;
    }

    #gallery #gallery-text {
        font-size: 14px;
        width: 291px;
        text-align: center;
    }
    #gallery-photo .slick-track .slick-slide, .slick-cloned {
        width: 323px;
    }
    #question-container .title-info {
        font-size: 20px;
    }

    #information .info-spa-text {
        margin-left: 10px;
        width: 191px;
        font-size: 13px;
    }


    #reservation-content {
        padding: 52px 27px;
    }

    #reservation .reserve-input input, .reserve-input select {
        width: 238px;
        padding: 10px 16px;
    }

    #reservation #reservation-cancel {
        right: 6px;
        top: 6px;
        height: 34px;
        width: 34px;
    }

    #reservation #reservation-send {
        margin: 47px 17px;
    }

    #reservation #reservation-send .reservation-send-text {
        width: 194px;
    }

    #reservation #action-popup .btn {
        padding: 10px 45px;
    }

    #reservation #action-popup {
        margin-top: 30px;
    }

    #question {
        height: 1391px;
    }

    #footer #footer-container {
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    #footer .logo-head-text {
        font-size: 32px;
    }

    #footer #footer-icon .link {
        margin-right: 10px;
    }

    #footer #footer-container #footer #footer-icon .icon .link {
        visibility: visible;
    }

    #gallery-photo .img-gallery {
        max-width: 300px;
    }

    #gallery-photo .img-gallery a img {
        max-width: 100%;
        max-height: 100%
    }



    #gallery-photo .slick-dots {
        bottom: 25px;
    }

    #gallery-photo .slick-prev {
        left: calc(50% - 155px);
        top: 291px;
        z-index: 9999;
    }

    #gallery-photo .slick-next {
        right: calc(50% - 155px);
        top: 291px;
        z-index: 9999;
    }

    #footer #footer-icon {
        margin-top: 23px;
    }
    .arrow::after {
        top: 189px;
        right: 27px;
        padding: 9px 10px;
    }
}

/*320-370*/
@media screen and (max-width: 370px) {
    #header-container .number {
        display: none;
    }
    #gallery-photo .slick-track .slick-slide, .slick-cloned {
        width: 309px;
    }
    #rituals-spa .spa .btn {
        padding:  6px 18px;
    }
}
