@media screen and (min-width: 1921px) {
    #main-header {
        background-size: 100%;
        background-position: bottom center;
    }
    #question {
        background-size: 100%;
        background-position: bottom center;
    }
}

/*1819-1843*/
@media screen and (max-width: 1843px) {
    #info #petal-4 img {
        bottom: 29px;
        left: 281px;
    }
}

/*1723-1820*/
@media screen and (max-width: 1820px) {
    #petal-container #petal-13 img {
        display: none;
    }
}

/*1689-1724*/
@media screen and (max-width: 1724px) {
    #info #petal-5 img {
        top: 2px;
        right: 98px;
    }
}

/*1509-1690*/
@media screen and (max-width: 1690px) {
    #petal-container #petal-17 img {
        top: 1414px;
    }

    #question #petal-20 img {
        display: none;
    }
}

/*1399-1510*/
@media screen and (max-width: 1510px) {
    #info #petal-3 img {
        display: none;
    }

    #question #petal-21 img {
        display: none;
    }

    #contact-container #petal-23 img {
        right: -121px;
    }
}

/*1399-1446*/
@media screen and (max-width: 1446px) {
    #contact-container #petal-23 img {
        display: none;
    }

    #contact-container #petal-24 img {
        display: none;
    }
}

/*1328-1400*/
@media screen and (max-width: 1400px) {
    #contact-container #petal-24 img {
        display: none;
    }

    #contact-container #petal-23 img {
        display: none;
    }

    #petal-container #petal-16 img {
        display: none;
    }
}

/*1200-1327*/
@media screen and (max-width: 1327px) {
    #info #petal-2 img {
        display: none;
    }

}

@media screen and (max-width: 1225px) {
    #question-container {
        padding: 0 20px;
    }

    #number-container {
        width: 420px;
    }

    #maps-information #ymaps {
        width: 700px;
        height: 400px;
    }
}

/*1163-1199*/
@media screen and (max-width: 1199px) {
    #header-container {
        padding: 10px 20px;
    }

    #header-container .number {
        margin-left: 332px;
    }

    #info #information .info-spa {
        margin-left: 100px;
    }

    #info #information .info-spa:first-child {
        margin-left: 0;
    }

    #rituals-spa .spa .spa-images {
        width: 250px;
    }

    #rituals-spa .spa .spa-images img {
        max-width: 100%;
        max-height: 100%;
    }

    #rituals-spa .spa {
        width: 250px;
    }

    #title-container {
        padding: 0 20px;
    }

    #info {
        padding: 0 20px 114px 20px;
    }

    #present-container {
        padding: 0 20px;
    }

    #masters-container {
        padding: 0 20px;
    }

    #the-choice-masters .slick-next {
        right: 517px;
        top: 278px;
    }

    #the-choice-masters .slick-prev {
        top: 278px;
        left: 517px;
    }

    #gallery {
        padding: 0 20px;
    }

    #question-container {
        padding: 0 20px;
    }

    #question-container #number-container {
        padding: 30px 8px;
        width: 389px;
    }

    #question #petal-19 img {
        display: none;
    }

    #links {
        margin-right: 137px;
    }

    #gallery-photo .slick-prev {
        left: 393px;
        top: 354px;
    }

    #gallery-photo .slick-next {
        right: 393px;
        top: 354px;
    }

    #number-container {
        padding: 30px 24px;
        width: 419px;
    }

    #the-choice-masters .master {
        max-width: 320px
    }

    #the-choice-masters .master img {
        max-width: 100%;
        max-height: 100%;
    }

    #the-choice-masters .slick-list {
        text-align: center;
    }

    #contact-container {
        padding: 0 20px;
    }

    #footer #footer-container {
        padding: 27px 20px;
    }

    #footer .text-work {
        margin-left: 80px;
    }

    #footer .number {
        margin-left: 80px;
    }

    #footer .logo {
        margin-left: 265px;
    }
}

/*1024-1162*/
@media screen and (max-width: 1162px) {
    #info #petal-6 img {
        display: none;
    }

    .accordion {
        width: 598px;
    }

    #question-container #number-container {
        padding: 26px 0;
        width: 368px;
    }

    #number-container .number-text {
        font-size: 15px;
        width: 318px;
    }

    #maps-information {
        position: static;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    #contact-container #location-work {
        display: flex;
        justify-content: center;
    }

    #maps #location-work .work .title-location {
        margin-top: 57px;
    }

    #maps #location-work .work {
        margin-bottom: 100px;
    }

    #maps #location-work .work .last {
        margin-top: 23px;
    }

    #footer .text-work {
        margin-left: 60px;
    }

    #footer .number {
        margin-left: 60px;
    }

    #footer .logo {
        margin-left: 165px;
    }

    #gallery-photo .slick-prev {
        left: 321px;
        top: 331px;
    }

    #gallery-photo .slick-next {
        right: 322px;
        top: 331px;
    }

    #gallery-photo {
        margin-bottom: 100px;
    }

    #links {
        margin-right: 0;
    }

    #header-container .number {
        margin-left: 0;
    }

    #header-container {
        justify-content: space-between;
    }

    #info #information .info-spa {
        margin-left: 66px;
    }

    #rituals-spa .title-info {
        margin-top: 100px;
    }

    #rituals-spa .spa {
        width: 238px;
    }

    #rituals-spa .spa .spa-images {
        width: 238px;
    }

    #rituals-spa .spa .spa-images img {
        max-width: 100%;
        max-height: 100%;
    }

    #rituals-spa .spa .spa-title {
        font-size: 15px;
    }

    #rituals-spa .spa .spa-time {
        margin-top: 63px;
    }

    #rituals-spa .rituals-spa-text {
        margin-bottom: 0;
    }

    #rituals-spa-description {
        margin-top: 30px;
    }

    #the-choice-masters .slick-next {
        right: 445px;

    }

    #the-choice-masters .slick-prev {
        left: 446px;

    }

    #gallery-photo .img {
        width: 300px;
    }

    #gallery-photo .img img {
        max-height: 100%;
        max-width: 100%;
    }

    #gallery-photo .slick-dots {
        bottom: -15px;
    }

    #links a {
        margin-right: 24px;
    }

    #the-choice-masters .master-content .master-name {
        font-size: 15px;
    }

    #footer #colum {
        display: flex;
    }

    #footer #footer-container {
        padding: 0 20px 20px 20px;
    }
    #footer #footer-container #colum .number {
        margin-left: 65px;
    }

}

/*768-1023*/
@media screen and (max-width: 1023px) {
    #information .info-spa .info-spa-image {
        width: 90px;
    }

    #information .info-spa .info-spa-image img {
        max-width: 100%;
        max-height: 100%;
    }

    #information .info-spa-text {
        margin-left: 15px;
    }

    #information {
        justify-content: center;
    }

    #info #information .info-spa {
        margin-left: 20px;
        width: 343px;
    }

    #rituals-spa-description {
        justify-content: space-evenly;
    }

    #rituals-spa .spa {
        margin: 50px;
    }

    #present .title-info {
        font-size: 25px;
    }

    #present .present-text {
        font-size: 16px;
        width: 306px;
    }

    #petal-container #petal-12 img {
        right: 216px;
        top: 72px;
    }

    #the-choice-masters .slick-next {
        right: 314px;
        top: 203px;
    }

    #the-choice-masters .slick-prev {
        left: 314px;
        top: 203px;
    }

    #petal-container #petal-15 img {
        right: 113px;
        top: 588px;
    }

    #the-choice-masters .master-content {
        padding: 0;
        width: 182px;
    }

    #the-choice-masters .master {
        max-width: 225px;
    }

    #gallery-photo .slick-prev {
        left: 195px;
        top: 238px;
    }

    #gallery-photo .slick-next {
        right: 195px;
        top: 238px;
    }

    #gallery-photo .img-gallery {
        max-width: 242px;
    }

    #gallery-photo .img {
        max-height: 100%;
        max-width: 100%;
    }

    #gallery-photo .slick-list {
        height: 224px;
    }

    #gallery-photo .slick-dots {
        bottom: -29px;;
    }

    #question-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #question {
        height: 1200px;

    }

    #maps #title-maps {
        text-align: center;
    }

    #lavender img {
        top: 95px;
    }

    #footer #footer-container {
        justify-content: space-between;
    }

    #footer .text-work {
        margin-left: 0;
    }

    #footer .number {
        margin-left: 0;
    }

    #footer .logo {
        margin-left: 0;
    }

    #footer #colum {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    #footer #colum .number {
        margin-top: 3px;
    }

}

/*580-767*/
@media screen and (max-width: 767px) {
    #main-header {
        height: 700px;
    }

    #title-container #titles-text {
        width: 366px;
        font-size: 17px;
        margin-top: 20px;
    }

    #info #lavanda img {
        bottom: -3px;
        right: 176px;
    }


    .accordion .accordion-header {
        font-size: 15px;
    }

    .accordion {
        width: 516px;
    }

    #gallery-text {
        width: 516px;;
    }

    #links {
        display: flex;
        flex-wrap: wrap;
        width: 152px;
    }

    #links a {
        margin-top: 16px;
    }

    #titles {
        width: 392px;
        margin-top: 100px;
    }

    #title-container #titles h1 {
        font-size: 27px;
    }

    #info #petal-1 {
        display: none;
    }

    #info #petal-5 img {
        right: 0;
    }

    #info #information .info-spa {
        margin-left: 0;
    }

    #info #information {
        justify-content: center;
    }

    #info #information .info-spa:first-child {
        margin-left: 174px;
    }

    #info #information .info-spa:nth-child(2) {
        margin-right: 174px;
    }

    #info #information .info-spa:nth-child(3) {
        margin-left: 174px;
    }

    #info #information .info-spa:last-child {
        margin-right: 174px;
    }

    #rituals-spa-description {
        justify-content: center;
    }

    #present button {
        padding: 10px 16px;
    }

    #rituals-spa .spa {
        margin: 15px;
    }

    #rituals-spa .spa .btn {
        margin-left: 0;
    }

    .parallax-window {
        min-height: 200px;
    }

    #present .title-info {
        margin: 0;
        font-size: 23px;
        width: 274px;
    }

    #present .present-text {
        font-size: 15px;
        width: 219px;
    }

    #the-choice-masters .master {
        max-width: 161px;
    }

    #the-choice-masters .master-content .master-name {
        font-size: 10px;
    }

    #the-choice-masters .master-content {
        width: 123px;
    }

    #the-choice-masters .master-content .master-work {
        font-size: 9px;
    }

    #the-choice-masters .slick-next {
        right: 223px;
        top: 150px;
    }

    #the-choice-masters .slick-prev {
        left: 223px;
        top: 150px;
    }

    #petal-container #petal-15 img {
        display: none;
    }

    #gallery-title {
        margin-top: 100px;
    }

    #petal-container #petal-14 img {
        display: none;
    }

    #gallery-photo .img-gallery {
        max-width: 140px;
    }

    #gallery-photo {
        margin-bottom: 0;
    }

    #gallery-photo .slick-dots {
        bottom: 50px;
    }

    #gallery-photo .slick-prev {
        left: 99px;
        top: 161px;
    }

    #gallery-photo .slick-next {
        right: 99px;
        top: 161px;
    }

    #maps #title-maps {
        margin-top: 50px;
    }

    #maps #location-work .work {
        margin-left: 30px;
    }

    #lavender img {
        left: -215px;
    }

    #footer #colum {
        margin: 0;
    }

    #footer #footer-icon .link {
        margin-right: 10px;
    }


}

@media screen and (max-width: 628px) {
    #footer #colum {
        display: none;
    }

    #footer #footer-container {
        justify-content: space-evenly;
    }

    #footer #footer-icon .link {
        margin-right: 25px;
    }
}

/*480-579*/
@media screen and (max-width: 579px) {
    #burger {
        display: block;
    }

    #links {
        top: 117px;
        left: 0;
        position: fixed;
        background: rgba(212, 188, 211, 0.8);
        z-index: 3;
        width: 100%;
        text-align: center;
        padding: 22px 0;
        justify-content: center;
        display: none;
    }

    #number-container .number-text {
        font-size: 14px;
        width: 297px;
    }

    #links svg {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #header-container.menu-open {
        background: rgba(212, 188, 211, 0.8);
    }

    #header-container.menu-open #links {
        display: block;
    }

    #rituals-spa .rituals-spa-text {
        width: 330px;
    }

    #masters .text-info-masters {
        width: 330px;
    }

    .accordion {
        width: 424px;
    }

    #info #lavanda img {
        bottom: -3px;
        right: 176px;
    }

    #reservation .reserve-input input, .reserve-input select {
        width: 179px;
        padding: 10px 16px;
    }

    #question-container #number-container {
        width: 300px;
    }

    #reservation-content {
        padding: 36px 27px;
    }

    #reservation #reservation-cancel {
        right: -42px;
        width: 34px;
        height: 34px;
    }

    #reservation #reservation-send {
        margin: 47px 17px;
    }

    #reservation #reservation-send .reservation-send-text {
        width: 194px;
    }

    #reservation #action-popup {
        margin-top: 30px;
    }

    #reservation #action-popup .btn {
        padding: 10px 45px;
    }

    #gallery-text {
        width: 350px;
    }

    #info #information .info-spa:first-child {
        margin-left: 100px;
    }

    #info #information .info-spa:nth-child(2) {
        margin-right: 100px;
    }

    #info #information .info-spa:nth-child(3) {
        margin-left: 100px;
    }

    #info #information .info-spa:last-child {
        margin-right: 100px;
    }

    #info #petal-5 img {
        display: none;
    }

    #rituals-spa-description {
        justify-content: center;
    }

    #rituals-spa .title-info {
        text-align: center;
    }

    #rituals-spa .rituals-spa-text {
        margin: 0 auto;
        padding-top: 20px;
    }

    #petal-container #petal-12 img {
        right: 7px;
        top: -8px;
    }

    #masters .title-info {
        text-align: center;
    }

    #masters .text-info-masters {
        width: 348px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }

    #the-choice-masters .master {
        max-width: 140px;
    }

    #the-choice-masters .slick-next {
        right: 176px;
        top: 133px;
    }

    #the-choice-masters .slick-prev {
        left: 176px;
        top: 133px;
    }

    #gallery-photo .slick-prev {
        left: 49px;
        top: 160px
    }

    #gallery-photo .slick-next {
        right: 49px;
        top: 160px
    }

    #lavender img {
        left: -284px;
        top: 214px;
    }

    #maps .location p, .work .text-work {
        font-size: 13px;
    }

    #maps .title-location {
        font-size: 15px;
    }

    #masters .title-info {
        padding-top: 85px;
    }

    #info #lavanda img {
        bottom: -3px;
        right: 156px;
    }
}

/*320-479*/
@media screen and (max-width: 479px) {
    .accordion .accordion-header {
        font-size: 12px;
    }

    .accordion .ui-accordion-header-icon {
        top: 0;
        right: -17px;
    }

    .accordion {
        width: 308px;
    }

    #links {
        top: 87px;
    }

    #links svg {
        top: 3px;
        right: 3px;
    }

    .accordion .ui-widget-content {
        font-size: 10px;
    }

    #number-container .number-text {
        font-size: 13px;
        width: 253px;
    }

    #contact-container #petal-22 img {
        display: none;
    }

    #titles {
        width: 292px;
    }

    #numbers .input input {
        width: 243px;
        padding: 17px 17px;
    }

    #number-container .btn {
        padding: 16px 65px;
    }

    #number-container {
        margin-left: 0;
        margin-top: 17px;
    }

    #title-container #titles h1 {
        font-size: 21px;
        width: 288px;
        line-height: 36px;
        margin: 0;
    }

    #title-container #titles-text {
        width: 280px;
        font-size: 14px;
    }

    #action a {
        padding: 16px 25px 17px 25px;
    }

    #header-container .logo-head-text {
        font-size: 36px;
    }

    #header-container .logo .logo-text {
        font-size: 9px;
    }

    #header-container .number {
        font-size: 11px;
    }

    #info-container .title-info {
        text-align: center;
        font-size: 24px;
    }

    #info #info-container #information .info-spa {
        margin-left: 0;
        margin-right: 0;
    }

    #rituals-spa .title-info {
        font-size: 25px;
    }

    #rituals-spa .rituals-spa-text {
        font-size: 12px;
        width: 298px;
        text-align: center;
    }

    #masters .title-info {
        font-size: 25px;
    }

    #masters .text-info-masters {
        font-size: 12px;
        width: 289px;
    }

    #gallery #gallery-title {
        font-size: 25px;
        text-align: center;
    }

    #gallery #gallery-text {
        font-size: 12px;
        width: 289px;
        text-align: center;
    }

    #question-container .title-info {
        font-size: 20px;
    }

    #info #petal-4 img {
        display: none;
    }

    #information .info-spa-text {
        margin-left: 5px;
        width: 191px;
        font-size: 13px;
    }

    #info #petal-7 img {
        top: 632px;
        right: 226px;
    }

    .parallax-window {
        display: none;
    }

    #the-choice-masters .master-content .master-work {
        margin-top: 0;
    }

    #the-choice-masters .master-content {
        width: 82px;
        bottom: 0;
    }

    #the-choice-masters .master-content .master-name {
        font-size: 7px;
    }

    #the-choice-masters .master-content .master-work {
        font-size: 7px;
    }

    #the-choice-masters .slick-prev {
        left: 94px;
        top: 93px;
    }

    #the-choice-masters .slick-next {
        right: 94px;
        top: 93px;
    }

    #the-choice-masters .master {
        max-width: 90px;
    }

    #gallery-photo .slick-dots li button::before {
        width: 10px;
        height: 10px;
    }

    #gallery #gallery-photo .slick-dots li {
        width: 5px;
        height: 5px;
    }

    #gallery-photo .slick-dots {
        bottom: 100px;
    }

    #gallery-photo .slick-prev {
        top: 112px;
    }

    #gallery-photo .slick-next {
        top: 112px;
        right: 45px;
    }

    #gallery-photo .img-gallery {
        max-width: 87px;
    }

    #question {
        height: 1122px;
    }

    #maps #location-work .work {
        margin: 0;
    }

    #contact-container #location-work {
        flex-direction: column;
    }

    #maps #location-work .work .title-location {
        margin-top: 19px;
    }

    #maps #location-work .work {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #maps .title-location {
        margin-top: 21px;
    }

    #footer #footer-container {
        justify-content: space-between;
    }

    #footer .logo-head-text {
        font-size: 32px;
    }

    #footer #footer-icon .link {
        margin-right: 10px;
    }

    #footer #footer-container #footer #footer-icon .icon .link {
        visibility: visible;
    }
}